workflows/[MDR] Encantamento.json
{
  "active": true,
  "connections": {
    "Date & Time": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-10T13:30:39.791Z",
  "id": "5s0nTZjvzmq1Ortl",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[MDR] Encantamento",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JYrzwGVXjvWrp8l9-ZsqcT8HXrvEOBsrdVE6ffVHeH8/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JYrzwGVXjvWrp8l9-ZsqcT8HXrvEOBsrdVE6ffVHeH8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "EMAIL": "={{ $node[\"Webhook\"].json[\"body\"][\"contact_email\"] }}",
            "ENCANTAMENTO": "={{ $json[\"ENCANTAMENTO\"] }}"
          },
          "matchingColumns": [
            "EMAIL"
          ],
          "schema": [
            {
              "id": "DATA CADASTRO",
              "displayName": "DATA CADASTRO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOME",
              "displayName": "NOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SOBRENOME",
              "displayName": "SOBRENOME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EMAIL",
              "displayName": "EMAIL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TELEFONE",
              "displayName": "TELEFONE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NOVO LEAD",
              "displayName": "NOVO LEAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "RAPPORT",
              "displayName": "RAPPORT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "DESCOBERTA",
              "displayName": "DESCOBERTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ENCANTAMENTO",
              "displayName": "ENCANTAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FECHAMENTO",
              "displayName": "FECHAMENTO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "EM TAREFA",
              "displayName": "EM TAREFA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CONCLUIDO",
              "displayName": "CONCLUIDO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "bbbb126f-22a9-4e14-be84-72bf3e105219",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        880,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0YSzQ2Z3Op1rzk4l",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{$today}}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "outputFieldName": "ENCANTAMENTO",
        "options": {}
      },
      "id": "310ef937-13c8-48a7-b61e-0179f3129531",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mdr-encantamento",
        "options": {}
      },
      "id": "2fee3e5e-11c8-489c-a40b-246c9e9a9e2a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        500,
        340
      ],
      "webhookId": "b86a0359-71ca-44f2-b678-5f5d75f408c4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-11T20:25:45.730Z",
      "updatedAt": "2024-07-11T20:25:45.730Z",
      "id": "xYpW6CG0eELGwSj4",
      "name": "☸️"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-07-11T20:26:27.250Z",
  "versionId": "04867544-4de6-4d8c-89d2-61cb57b38628"
}