workflows/OR24 - Corrige telefone active (cadastro pelo manychat).json
{
  "active": false,
  "connections": {
    "Trata dados": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "telefone_active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telefone_active": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Trata dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-10T16:48:50.188Z",
  "id": "oQRmzRy7aRXFJ0Hi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OR24 - Corrige telefone active (cadastro pelo manychat)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]\n"
      },
      "id": "55b0dd0f-f083-4ee3-87bc-f6e8859b8c84",
      "name": "Trata dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        940,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af40a53a-59c5-4752-a518-ecce507e2a77",
              "name": "NOME",
              "value": "={{ $json[\"nome\"].toLowerCase().replace(/\\b\\w/g, char => char.toUpperCase()) }}",
              "type": "string"
            },
            {
              "id": "82ed55cd-648a-4c66-8cd6-66eab97faee4",
              "name": "EMAIL",
              "value": "={{ $json[\"email\"].toLowerCase().replace(' ','') }}",
              "type": "string"
            },
            {
              "id": "f1b91f68-443a-4ae7-9d46-7f92cc9756cd",
              "name": "TELEFONE",
              "value": "={{ $json[\"telefone\"].replace(\"+\",\"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6d35eedb-a584-429e-b8d0-74f4e369abba",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "function formataTelefone(number) {\n    number = number.toString().replace(/[^\\d]/g, \"\")\n    let ddi = '55'\n    let ddd = number.substring(0, 2)\n\n    if (number.length == 13) {\n        let ddi = number.substring(0, 2)\n        let ddd = number.substring(2, 4)\n        return ddi + ddd + (ddd <= 28 ? number.substring(4, 13) : number.substring(5, 13))\n\n    } else if (number.length == 11) {\n        return ddi + ddd + (ddd <= 28 ? number.substring(2, 11) : number.substring(3, 11))\n\n    } else if (number.length == 10) {\n        return ddi + ddd + (ddd <= 28 ? '9' : '') + number.substring(2, 11)\n\n    } else if (number.length == 12) {\n        return number.substring(0, 2) == '55' ? number : (number.substring(0, 1) == '0' ? formataTelefone(number.substring(1, 12)) : number)\n\n    } else {\n        return number\n    }\n}\n\nreturn { Telefone : formataTelefone($input.all()[0].json['TELEFONE']) };"
      },
      "id": "f5503c71-7e02-455a-876a-8ec169223972",
      "name": "telefone_active",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "additionalFields": {
          "email": "={{ $node[\"Edit Fields\"].json[\"EMAIL\"] }}"
        }
      },
      "id": "bdb3073a-e77b-4228-abe9-759d8f04e2f2",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1520,
        200
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "eSTdObDZd8TWPMW9",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $json[\"id\"] }}",
        "updateFields": {
          "email": "={{ $node[\"Edit Fields\"].json[\"EMAIL\"] }}",
          "phone": "=+{{ $node[\"telefone_active\"].json[\"Telefone\"] }}"
        }
      },
      "id": "2cbb1d73-5ea1-4506-84f5-cd392e2eaa59",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1700,
        200
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "eSTdObDZd8TWPMW9",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "envia-dados-active",
        "options": {}
      },
      "id": "6cbba5c0-c722-4b28-b0c4-515c47d7e28a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        200
      ],
      "webhookId": "d3479bd7-cf31-4b9d-a388-71457307fa6c"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-11-03T20:49:00.476Z",
  "versionId": "5d53bdcd-c075-4e5c-9e8d-00633732fa72"
}